<section class="cont">

    <div class="flex">

        <div class="contactos__container">

            <nav class="contactos__nav ">
                <a href="https://www.instagram.com/del_lauti/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </nav>

            <nav class="contactos__nav ">
                <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </nav>

            <nav class="contactos__nav ">
                <a href="https://maps.app.goo.gl/EXtKuH9ZULBcdVSF7" target="_blank">
                    <i class="bi bi-geo-alt"></i>
                </a>
            </nav>

        </div>

        <div class="nav">
            
            <nav class="">
                <a routerLink="/inicio" class="" >Inicio</a>
            </nav>

            <nav>
                <a routerLink="/turnos" class="" >Turnos</a>
            </nav>
           
            <nav>
                <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank" class="" >Contacto</a>
            </nav>
            
        </div>
        
        <div class="copyright__container">
            <p class="copyright">Copyright &copy;2024; Designed by <span class="designed">Santino Bournot</span></p>
        </div>

    </div>

</section>