<section class="cont" [ngClass]="{'activeBlur' : clickBlur, 'inactiveBlur' : !clickBlur}">

    <div class="cont-title">
        <h1 class="title">Clásico</h1>
        <span class="linea"></span>
    </div>

    <div class="gallery">
        <a class="cont__img" (click)="handleClick()" (click)="blurClick()" *ngFor="let image of images; let i = index"
            (click)="setSelectedIndex(i)">
            <img class="img" [src]="image.imageSrc" [alt]="image.imageAlt">
        </a>
    </div>

</section>

<section class="cont__carousel" *ngIf="showCarousel">
    <article class="light-box" [ngClass]="{'active': isClicked, 'inactive': !isClicked}">
        <a class="next" (click)="goToPreviousImage()">
            <i class="bi bi-arrow-left-short"></i>
        </a>
        <div class="cont_img--ligthBox">
            <img class="img__ligth-box" [src]="getCurrentImage().imageSrc" [alt]="getCurrentImage().imageAlt">
        </div>

        <a class="next" (click)="goToNextImage()">
            <i class="bi bi-arrow-right-short"></i>
        </a>
        <a class="close" (click)="handleClick()" (click)="blurClick()" (click)="showCarousel = false">
            <i class="bi bi-x"></i>
        </a>
    </article>
</section>