<section class="cont">

    <div class="grid">

        <nav class="img__container">
            <img class="img__user" src="../../../assets/img/img-presentation/userImg.svg" alt="Imagen de usuario">
        </nav>

        <nav class="subtitle__container">
            <h2 class="subtitle__600">
                Mi nombre es:<span class="subtitle__500"> Lautaro Acevedo</span>
            </h2>
        </nav>

        <nav class="presentation__container">
            <p class="presentation__parrafo">
                Desde el año 2020 me he dedicado apasionadamente al arte de la peluquería
                masculina. Aquí, no solo encontrarás un lugar para cortarte el cabello, sino un espacio donde la elegancia y
                el estilo se fusionan para crear experiencias únicas.
            </p><a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" class="contactame" target="_blank">Contactame</a>
        </nav>
    </div>

</section>
