*{
    box-sizing: border-box;
    text-decoration: none;
}

.cont.activeBlur{
    filter: blur(10px);
}

.cont.inactiveBlur{
    filter: blur(0);
}

/* Gallery */

.title{
    font-weight: 800;
    text-align: center;
    font-size: 40px;
}

.linea{
    position: absolute;
    background: #f9ba26;
    height: 5px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.gallery .img{
    width: 100%;
    vertical-align: top;
    height: 500px;
    object-fit: cover;/*La imagen se adapta al contenedor*/
    transition: .5s;
}

.gallery .cont__img{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.gallery .cont__img:hover .img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.light-box.active {
    display: flex;  
}

.light-box.inactive {
    display: none;
}

.img__ligth-box{
    height: 90vh;
    object-fit: cover;
    border-radius: 25px;
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    color: #303030;
    background: #f9ba26;
    font-size: 35px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.next{
    display: block;
    color: #303030;
    background: #f9ba26;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

@media screen and (max-width: 745px){

    .img__ligth-box{
        height: 60vh;
    }

    .next{
        position: relative;
        margin-top: 75vh;
    }

    .next-left{
        transform: translateX(15vw);
    }

    .next-right{
        transform: translateX(-15vw);
    }
}

@media screen and (max-width: 485px){

    .next{
        padding: 0 8px 8px 8px;
    }

    .next-left{
        transform: translateX(25vw);
    }

    .next-right{
        transform: translateX(-25vw);
    }
}