<section class="cont" >

    <div class="flex">
    
        <div class="items__menu--container">
            <nav class="items__nav">
                <ul class="ul">
                    <li class="items__li">
                        <a routerLink="/inicio" class="items items--1">Inicio</a>
                    </li>
                    
                    <li class="items__li">
                        <a routerLink="/turnos" class="items items--2">Turnos</a>
                    </li>

                    <li class="items__li">
                        <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank"  class="items items--3">Contactame</a>
                    </li>

                    <li class="items__li">
                        <a routerLink="" class="items items--2">Iniciar sesión</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="flex__responsive" >
            <nav class="navbar navbar-expand-lg " [ngClass]="{'active': isClicked}">
                <div class="container-fluid" >
                    <button (click)="onElementClick()" class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"  aria-current="page" routerLink="/turnos" >Turnos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank" >Contactame</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" >Iniciar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
</section>


<!-- Estilos que saqué:
        <div class="cont__logo--div">
            <nav class="cont__logo">
            <img src="../../../assets/img/img-menu/DelLautiLogo.png" alt="" class="logo">
        </nav>
        </div>
    
        <div class="menu__title--container">
    
            <nav class="cont__title">
                <h1 class="menu__title">Del Lauty</h1>
                <h2 class="menu__subtitle">Peluquería masculina</h2>
            </nav>
            
            
             <nav class="contactame__menu--container">
                <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" class="contactame__link" target="_blank">Contactame ahora</a>
            </nav>
           
        </div>
    
        <div class="hero__wave--grid">
            <div class="hero__wave--container">
                <div class="hero__wave">
                    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                        <path 
                            d=" M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                            style="stroke: none; fill: #fff;">
                        </path>
                    </svg>
                </div>
            </div>
        </div> --> 