<section class="cont">

    <div class="grid">

        <nav class=" text__container--left">
            <h2 class="about__subtitle">Mis habilidades</h2>
            <p class="about__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi necessitatibus voluptas dicta sit! Numquam sapiente vitae sunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi necessitatibus voluptas dicta sit! Numquam sapiente vitae sunt earum aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi necessitatibus voluptas dicta sit! Numquam sapiente vitae sunt earum aperiam! 
            </p>
        </nav>

        <nav class="about__img--container">
            <figure class="about__img">
                <img src="../../../assets/img/img-About/habilidadesImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class="about__imgLeft--container">
            <figure class="about__img about__img--left">
                <img src="../../../assets/img/img-About/habilidadesImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class=" text__container--right">
            <h2 class="about__subtitle">Mis habilidades</h2>
            <p class="about__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quis dolore vel quia ut corporis fugit doloribus? Quis, blanditiis est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi necessitatibus voluptas dicta sit! Numquam sapiente vitae sunt earum aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi necessitatibus voluptas dicta sit! Numquam sapiente vitae sunt earum aperiam!  
            </p>
        </nav>

    </div>

</section>