<section>
    <div class="cont">
        <div class="card" style="--clr: #64CF36">
            <div class="img-box">
                <img src="../../../assets/img/img-Ayuda/verTuno.png">
            </div>
            <div class="content">
                <h2>Ver Turno</h2>
                <p>
                    En este apartado, aprenderás como ver los datos de tu turno.
                </p>
                <a (click)="openVideoVer(videoUrl)">Click aquí</a>
            </div>
        </div>
        
        <div class="card" style="--clr: #03A9F4">
            <div class="img-box">
                <img
                    src="../../../assets/img/img-Ayuda/editarTurno.png">
            </div>
            <div class="content">
                <h2>Cambiar turno</h2>
                <p>
                    En este apartado, aprenderás como cambiar el horario tu turno, y además, como dejar un mensaje de aviso.
                </p>
                <a (click)="openVideoCambiar(videoUrl)">Click aquí</a>
            </div>
        </div>
        
        <div class="card" style="--clr: #FF3131">
            <div class="img-box">
                <img
                    src="../../../assets/img/img-Ayuda/cancelarTurno.png">
            </div>
            <div class="content">
                <h2>Cancelar turno</h2>
                <p>
                    En este apartado, aprenderás como cancelar tu turno, y además, como dejar un mensaje de aviso.
                </p>
                <a (click)="openVideoCancelar(videoUrl)">Click aquí</a>
            </div>
        </div>
    </div>
</section>